<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách khách hàng</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/customer">
                UP Plant Tree
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/customer">Khách hàng</a></li>
                <li class="active"><a href="#">Tạo giao dịch</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Giả lập giao dịch</h3>
            </div>

            <form class="form-horizontal" method="post" action="transaction">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label col-md-2">Tên khách hàng:</label>
                        <div class="col-md-6">
                            <select class="form-control" name="customer">
                                <option selected="true">--- Chọn khách hàng ---</option>
                                <option th:each="customer : ${customerList}" th:text="${customer.fullname}" th:value="${customer.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Số điểm tích lũy:</label>
                        <div class="col-md-6">
                            <input class="form-control" name="point">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-success">Gửi giao dịch</button>
                </div>
            </form>
        </div>


    </div>

</div>


</body>
</html>