<div xmlns:th="http://www.thymeleaf.org" th:fragment="friends">
    <style>
        .avatar {
            border-radius: 50%;
            width: 48px;
            height: 48px;
        }
    </style>
    <table class="table table-hover table-striped table-border">
        <thead>
        <tr>
            <th>ID</th>
            <th>Avatar</th>
            <th>Tên</th>
            <th>ID</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0001</td>
            <td><img class="avatar" th:src="@{/images/img_avatar.png}"></td>
            <td>Ngô Văn Thành</td>
            <td>323055728</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm bạn
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td><img class="avatar" th:src="@{/images/img_avatar.png}"></td>
            <td>Ngô Văn Thành</td>
            <td>323055728</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm bạn
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td><img class="avatar" th:src="@{/images/img_avatar.png}"></td>
            <td>Ngô Văn Thành</td>
            <td>323055728</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm bạn
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td><img class="avatar" th:src="@{/images/img_avatar.png}"></td>
            <td>Ngô Văn Thành</td>
            <td>323055728</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm bạn
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td><img class="avatar" th:src="@{/images/img_avatar.png}"></td>
            <td>Ngô Văn Thành</td>
            <td>323055728</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm bạn
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td><img class="avatar" th:src="@{/images/img_avatar.png}"></td>
            <td>Ngô Văn Thành</td>
            <td>323055728</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm bạn
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td><img class="avatar" th:src="@{/images/img_avatar.png}"></td>
            <td>Ngô Văn Thành</td>
            <td>323055728</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm bạn
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td><img class="avatar" th:src="@{/images/img_avatar.png}"></td>
            <td>Ngô Văn Thành</td>
            <td>323055728</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm bạn
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td><img class="avatar" th:src="@{/images/img_avatar.png}"></td>
            <td>Ngô Văn Thành</td>
            <td>323055728</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm bạn
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td><img class="avatar" th:src="@{/images/img_avatar.png}"></td>
            <td>Ngô Văn Thành</td>
            <td>323055728</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm bạn
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>