<div xmlns:th="http://www.thymeleaf.org" th:fragment="home" style="text-align: center;">
    <div>
        <img id="tree" th:src="@{/images/bamboo/bamboo_1.png}">

        <div class="progress">
            <div id="progressBar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div id="layoutAction">
            <button id="btnSpray" class="btn btn-success" >Tưới cây</button>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var i = 0;
            $('#btnSpray').click(function(){
                i = i + 1;
                if ( i <= 7) {
                    $('#tree').attr("src", "/images/bamboo/bamboo_"  + i +".png");
                    var percent = (i * 100 / 7);
                    var value = percent + "%";
                    $('#progressBar').css({"width": value});
                    $('#progressBar').attr("aria-valuenow", percent);
                    if (i == 7) {
                        $('#layoutAction').append(function () {
                            return $('<button class="btn btn-danger" >Rung cây thu hoạch</button>').click(harvest);
                        });
                        $('#btnSpray').hide();
                    }
                }

            });

            function harvest() {
                if (i >= 7) {
                    $('#tree').attr("src", "/images/bamboo/bamboo_dead.png");
                    $('#layoutAction').append(function () {
                        return $('<button class="btn btn-primary" >Nâng cấp cây mới</button>');
                    });
                }
                i = i + 1;
            }
        });

    </script>
</div>

